@charset "UTF-8";
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

/* all elements , as well as these psedo elements  inherit (border box) here

the way it is done here below is  using html and * selectors is to demonstrate specificity
LINK https://css-tricks.com/almanac/selectors/r/root/

Note : Because html selector has the highest specificity in the dom , using the * selector will allow us to inherit from the html / (:root) selector ...
Since * is not the highest specificity / top level element ... but html {} is. 

While the :root selector and html selector both target the same HTML elements, it may be useful to know that :root actually has a higher specificity. Pseudo-class selectors (but not pseudo-elements) have a specificity equal to that of a class, which is higher than a basic element selector.


*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh; }

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
  font-size: 1.5rem; }

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

.container {
  max-width: 100rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  border-bottom: var(--color-grey-light-2);
  align-items: center; }

.content {
  display: flex; }

@keyframes example {
  from {
    bottom: 0; }
  to {
    bottom: 1rem; } }

.header__mail::before {
  background-image: url("/img/adresse.png");
  left: 0px;
  color: #64ffda;
  font-size: 14px;
  line-height: 12px; }

.header__adresse::before {
  background-image: url("../img/adresse.png");
  background-size: 1.5rem 1.5rem;
  height: 2rem; }

.header {
  background-color: #ee7c60;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .header__logo {
    position: absolute;
    z-index: 2;
    top: 9rem;
    height: 12rem;
    margin-left: 3rem; }
  .header > * {
    padding-right: 2rem; }
  .header__adresse {
    margin-left: 2.4rem; }
  .header__adresse::before {
    content: " ";
    background-image: url("../img/adresse.png");
    background-size: 1.5rem 1.5rem;
    height: 2rem; }
  .header__telefon::before {
    background-image: url("../img/telefon.png");
    background-size: 1.5rem 1.5rem; }
  .header__mail p::before {
    background-image: url("../img/mail.png");
    background-size: 1.5rem 1.5rem; }

.header2 {
  position: sticky;
  top: 0;
  font-weight: bold; }
  .header2__list {
    padding: 2rem;
    list-style: none;
    background-color: white;
    display: flex;
    align-content: space-around;
    justify-content: center; }
    .header2__list__item {
      font-size: 2rem; }
    .header2__list__item:not(:last-child):after {
      content: "·";
      font-size: 2rem;
      margin-right: 1rem;
      margin-left: 1rem; }
    .header2__list__item:hover {
      color: #ee7c60; }

.container {
  background-image: url("../img/bg.jpg");
  background-size: cover; }

.content {
  min-height: 800px;
  height: 100vh;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 0;
  margin-top: 0;
  flex-wrap: wrap; }
  .content__first-card {
    align-self: center;
    max-width: 66rem;
    margin: 2rem auto;
    padding: 2rem;
    color: #4d8641;
    background-color: white; }
    .content__first-card__title {
      font-size: 1.7rem;
      border-bottom: 1px solid wheat;
      font-weight: bold;
      padding-bottom: 1.5rem; }
  .content__card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    color: #4d8641;
    margin: 3rem;
    padding: 2rem;
    background-color: white;
    /*     &:not(:first-child) {
      width: 35%;
    }
    &:first-child {
      width: 35%;
    } */ }
    .content__card__title {
      border-bottom: 1px solid wheat;
      font-weight: bold;
      padding-bottom: 1.5rem;
      font-size: 2rem; }
    .content__card__text {
      padding-top: 1.5rem;
      font-size: 1.6rem; }
    .content__card__image {
      object-fit: cover;
      max-height: 30rem;
      background-color: white; }
  .content__card:hover {
    box-shadow: #cecece 0px 4px 0.9em;
    position: relative;
    animation: example 0.5s forwards; }

.footer__list {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee7c60;
  list-style: none; }
  .footer__list__item {
    font-size: 1.6rem;
    color: white; }
  .footer__list__item:not(:last-child):after {
    content: "·";
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem; }

.footer__list2 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee7c60;
  list-style: none; }
  .footer__list2__item {
    font-size: 1.8rem;
    color: white; }
  .footer__list2__item:not(:last-child):after {
    content: "·";
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem; }

.author {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: white; }

.credit-github {
  display: block;
  margin: auto;
  width: 3rem;
  fill: black; }

@media only screen and (max-width: 1000px) {
  .header__logo {
    display: none; }
  .container {
    margin-top: 0;
    margin-bottom: 2rem; }
  .content {
    margin: 1rem; } }

@media only screen and (max-width: 730px) {
  .header {
    flex-direction: column; }
    .header__adresse {
      margin-left: 0; }
    .header > * {
      margin-bottom: 1rem;
      text-align: center; }
    .header__logo {
      display: none; }
  .header2 {
    position: static; }
    .header2__list {
      flex-direction: column;
      align-items: center; }
      .header2__list__item:not(:last-child):after {
        content: none; }
      .header2__list__item::last-child:after {
        content: none; }
  .footer__list {
    flex-direction: column;
    padding: 1rem; }
    .footer__list__item {
      padding-bottom: 1rem; }
    .footer__list__item:not(:last-child):after {
      content: none; }
    .footer__list__item::last-child:after {
      content: none; }
  .footer__list2__item {
    font-size: 1.3rem;
    color: black; } }

@media only screen and (max-width: 665px) {
  .content {
    height: 150%;
    flex-wrap: unset;
    align-items: center; }
    .content__card {
      min-width: 100%; } }
